In [17]:
import pandas as pd
import statsmodels.api as sm
import numpy as np
import seaborn as sns
sns.set()

In [32]:
df = pd.read_csv('udemy_data/Bank_logistic_reg.csv',skiprows=1, names=['idx','duration','y'])
df.head()

   idx  duration    y
0    0       117   no
1    1       274  yes
2    2       167   no
3    3       686  yes
4    4       157   no

In [33]:
data = df.copy()
data['y']=data['y'].map({'no':0,'yes':1}) #encode the dependent data

In [34]:
data.drop('idx', axis=1)

     duration  y
0         117  0
1         274  1
2         167  0
3         686  1
4         157  0
..        ... ..
513       204  0
514       806  1
515       290  0
516       473  1
517       142  0

[518 rows x 2 columns]

In [35]:
#logistic Regression
x = sm.add_constant(x1)
reg_log = sm.Logit(y,x) #state model using logit function
result_log = reg_log.fit() #max of Iterations is 35

Optimization terminated successfully.
         Current function value: 0.137766
         Iterations 10